.section-product-main-container{

   overflow-x:hidden ;



}
.products-container {
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
   gap: 10px;
  
   
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.product_title{
    font-family: Integral CF;
}
.product_price{
   
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-size: 15px;
    font-weight: 600;
}

.products-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.section-product-main-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
   
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-all-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem 2rem 0.5rem;
}
.product_stars{
    font-size: large;
    color: #FFC633;

}
.new-arrival-text {
  font-size: 32px;
   font-weight: 700;
  
}
.product-details{
 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-header{
    margin: 1rem;
}
.top-selling-text{
    font-size: 32px;
    font-weight: 700;
}
.view-all-button{
    width: 100%;
    border-radius: 30px;
    background-color: white;
    border:2px solid #d6d4d5;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.product_img{
    width: 190px;
    height: 200px;
    background-color:  #f2f0f1;
    padding:4%;
    border-radius: 20px;
    
    
 
}

.product_img img{
    width: 100%;
   height: 100%;
   mix-blend-mode: darken;
   padding: 1.5rem;
  
   

}


.product_price{
  
    width: 190px;
}
@media (min-width:768px) {
   
    .products-container{
     
     display: grid;
     grid-template-columns: repeat(auto-fit,300px);
     justify-content: center;
     align-items: center;
    
    }
    
    .product-details{
       
        margin-bottom: 1rem;
    }
    
    .product {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        width: 100%; /* Ensure each product fills the grid cell */
    }
    
    .product-img img {
        width: 100%;
        height: auto;
    }
    
    .product_img{
        width: 200px;
        height: 240px;
    }
    
.product-image:hover {
    transform: scale(1.1);
}

.product-image {
   
    transition: transform 0.5s;
}
  
    .new-arrival-text {
        margin-top: 2rem;
        font-size: 48px;
        font-weight: 700;
    }
    .section-product-main-container{
        overflow-x: hidden;
    }
    .top-selling-text {
        font-size: 48px;
        font-weight: 700;
        border-top: 1px solid #0000001A;
        padding-top: 2.5rem;
    }
    .view-all-button{
        width: 20%;
        cursor: pointer;    
    }

}