.productListing_main_page {
    display: flex;
    flex-direction: column; /* Default for mobile views */
    
}

@media (min-width: 768px) {
    .productListing_main_page {
        display: flex;
        flex-direction: row; /* Row layout for laptop view */
        gap: 2rem;
        padding-left: 1rem;
        padding-right:1rem;
        justify-content: center;
    }
   
     
    
}